<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/projects.css">
    <title>Projects</title>
</head>
<body>
    <header>
        <div class="navbar">
            <a href="{{url_for('home')}}">
                <img src="/static/images/logo.png" alt="logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li><a href="{{url_for('home')}}">HOME</a></li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <h1>CENRO STB PROJECTS</h1>
            <div class="content-desc">
                <h4>Environmental activities accomplished by CENRO, the main authority responsible for safeguarding and protecting the environment and its natural assets in Sto. Tomas, Batangas.</h4>
            </div>
        </div>
    </header>

    <!-- PROJECT 1 -->
    <section class="project1">
        <div class="grid-container-proj1">
            <div class="proj1-container">
                <div class="proj1-item proj1-item1"></div>
                <div class="proj1-item proj1-item2"></div>
                <div class="proj1-item proj1-item3"></div>
                <div class="proj1-item proj1-item4"></div>
            </div>
            <div class="proj1-text">
                <h2>Clean Up Drive</h2>
                <p>&emsp;&emsp;Clean-up drives in communities hold significant importance due to their multifaceted benefits. Firstly, these initiatives play a pivotal role in maintaining a clean and healthy environment by preventing pollution and preserving natural resources. By actively removing litter and debris, clean-up drives contribute to the conservation of wildlife habitats and the overall ecological balance. </p>
                <p>&emsp;&emsp;Secondly, they promote community health and safety by eliminating potential breeding grounds for pests and reducing the risk of diseases. Clean and well-maintained public spaces enhance the quality of life, ensuring a safer environment for residents and visitors alike. </p>
                <p>&emsp;&emsp;Lastly, clean-up drives foster a sense of community pride and unity. By engaging residents in the improvement of their surroundings, these initiatives encourage social connections, strengthen community bonds, and cultivate a shared responsibility for maintaining a clean and sustainable neighborhood. </p>
                <p>&emsp;&emsp;Such collective efforts contribute to the overall well-being and positive image of the community, creating a more desirable place to live, work, and visit.</p>
            </div>
        </div>
    </section>

    <!-- PROJECT 2 -->
    <section class="project2">
        <div class="grid-container-proj2">
            <div class="proj2-text">
                <h2>Earth Hour</h2>
                <p>&emsp;&emsp;Earth Hour holds immense significance as a global call to action against climate change. By switching off lights for one hour, it symbolizes our commitment to conserving energy and reducing greenhouse gas emissions. Beyond the hour, Earth Hour serves as a powerful educational tool, driving conversations and inspiring sustainable choices. It fosters a sense of global unity, encouraging individuals from diverse backgrounds to come together with a shared goal of protecting the planet. </p>
                <p>&emsp;&emsp;Earth Hour mobilizes people worldwide, educates about sustainable practices, and empowers individuals to make a positive impact in the fight against climate change. It serves as a reminder that collective actions, no matter how small, can create a significant global movement towards a more sustainable future.</p>
            </div>
            <div class="proj2-container">
                <div class="proj2-item1"></div>
            </div>
        </div>
    </section>

    <!-- PROJECT 3 -->
    <section class="project3">
        <div class="grid-container-proj3">
            <div class="proj3-container">
                <div class="proj3-item proj3-item1"></div>
                <div class="proj3-item proj3-item2"></div>
            </div>
            <div class="proj3-text">
                <h2>Tour Guide Assistance</h2>
                <p>&emsp;&emsp;Volunteering as a tour guide is important as it provides valuable assistance to tourists, promotes cultural exchange, and facilitates personal growth. By offering knowledgeable guidance, tour guides enhance the visitor experience, ensuring tourists can make the most of their trip. Moreover, as cultural ambassadors, they bridge gaps between different cultures, fostering mutual understanding and global unity. Additionally, volunteering as a tour guide offers opportunities for personal development, allowing individuals to enhance their communication, leadership, and cultural appreciation skills. Overall, volunteering as a tour guide contributes to the enrichment of both tourists and the local community.</p>
            </div>
        </div>
    </section>

    <!-- PROJECT 4 -->
    <section class="project4">
        <div class="grid-container-proj4">
            <div class="proj4-text">
                <h2>Clean and Green Program</h2>
                <p>&emsp;&emsp;Volunteering as a tour guide is important as it provides valuable assistance to tourists, promotes cultural exchange, and facilitates personal growth. By offering knowledgeable guidance, tour guides enhance the visitor experience, ensuring tourists can make the most of their trip. Moreover, as cultural ambassadors, they bridge gaps between different cultures, fostering mutual understanding and global unity. Additionally, volunteering as a tour guide offers opportunities for personal development, allowing individuals to enhance their communication, leadership, and cultural appreciation skills. Overall, volunteering as a tour guide contributes to the enrichment of both tourists and the local community.</p>
            </div>
            <div class="proj4-container">
                <div class="proj4-item proj4-item1"></div>
                <div class="proj4-item proj4-item2"></div>
            </div>
        </div>
    </section>

    <!-- PROJECT 5 and 6 -->
    <section class="project56">
        <div class="grid-container-proj56">
            <div class="proj5">
                <div class="proj5-item1"></div>
                <div class="proj5-text">
                    <h2>Kalikasan Digital Art Contest</h2>
                    <p>&emsp;&emsp;Holding nature art projects is important as it provides a creative outlet for individuals to connect with nature and express their appreciation for the environment. These projects not only encourage artistic expression but also raise awareness about the beauty and importance of nature, inspiring others to value and protect our natural resources.</p>
                </div>
            </div>
            <div class="proj6">
                <div class="proj6-item1"></div>
                <div class="proj6-text">
                    <h2>True Circular Economy</h2>
                    <p>&emsp;&emsp;The true circular economy is of paramount importance as it aims to eliminate waste, maximize resource efficiency, and reduce environmental impact. By designing products and systems that prioritize reuse, recycling, and regeneration, the true circular economy fosters sustainable development and creates a more resilient and resource-conscious society.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- PROJECT 7 -->
    <section class="project7">
        <div class="grid-container-proj7">
            <div class="proj7-container">
                <div class="proj7-item1"></div>
                <div class="proj7-item2"></div>
            </div>
            <div class="proj7-text">
                <h2>Operasyon Linis Ilog</h2>
                <p>&emsp;&emsp;Government organizations need to actively participate in regular river cleaning initiatives for several reasons. Firstly, cleaning rivers helps to maintain ecological balance by removing pollutants and preserving water quality. This ensures the health and sustainability of aquatic life, as well as the overall ecosystem. Secondly, clean rivers have a direct impact on public health and safety, as they provide a vital source of drinking water and support various recreational activities. Government participation in river cleaning demonstrates their commitment to environmental stewardship, fosters public trust, and contributes to the overall well-being of communities that rely on these water bodies.</p>
            </div>
        </div>
    </section>

    <!-- PROJECT 8 -->
    <section class="project8">
        <div class="grid-container-proj8">
            <div class="proj8-container">
                <div class="proj8-item1"></div>
            </div>
            <div class="proj8-text">
                <h2>Philippine Arbor Day</h2>
                <p>&emsp;&emsp;Philippine Arbor Day is an annual celebration dedicated to promoting the importance of tree planting and environmental conservation in the Philippines. Held every June 25th, it serves as a platform to raise awareness about the significant role of trees in mitigating climate change, preserving biodiversity, and improving air quality. The day is marked by various tree planting activities, educational campaigns, and community engagement initiatives to encourage active participation in the reforestation and greening efforts across the country.</p>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <section class="footer">
        <h3>2023  |  CENIN.dx</h3>
    </section>

    <!------------------CHATBOT CODE ----------------->
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="/static/images/small_chatbox-icon.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">CENRO garBot</h4>
                        <p class="chatbox__description--header">Hello there! I am garBot, how may I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                       
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='images/chatbox-icon.png') }}" /></button>
                <div class="red-dot-one">
                </div>
            </div>
        </div>
    </div>

    <script>
        $SCRIPT_ROOT = "{{ request.script_root }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

    <!---------------------- END OF CHATBOT CODE ---------------------->

</body>
</html>